<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
    </head>

    <body>
        <h1>Welcome {{ name }}!</h1>
        <a href="www.google.com">notgoogle</a><br/>
        <ul>
            {%for obj in city_names%}
                <li>{{obj}}</li>
            {%endfor%}
        </ul>
        {%block content%}
            <h1>City Name</h1>
            <form action="" method="POST">
                <p>
                    {{form.cityName.label}}
                    {{form.cityName (size=32)}}
                </p>
                <p>{{form.submit()}}</p>
            </form>
        {%endblock%}
        {%with messages = get_flashed_messages()%}
        {%if messages%} 
        <ul>
            {%for message in messages%}
                <li>{{message}}</li>
            {%endfor%} 
        </ul>
        {%endif%} 
        {%endwith%}
    </body>
</html>