<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
    </head>

    <body>
    <ul>
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    {% endif %} 
    {% endwith %} 
    </ul>
        <h1>Welcome {{ name }}!</h1>
        <a href="www.google.com">notgoogle</a><br/>
        <ul>
            {%for obj in city_names%}
                <li>{{obj}}</li>
            {%endfor%}
        </ul>
    </body>
    {%block content%}
    <h1>City Name</h1>
    <form action="" method="POST">
        <p>
            {{form.cityName.label}}<br>
            {{form.cityName (size=32)}}
        </p>
        <p>
            {{form.csrf_token}}
            {{form.submit()}}
        </p>
    </form>
    {%endblock%}
</html>